:root{

--primary:#111827;
--secondary:#2563EB;
--accent:#14B8A6;
--success:#22C55E;
--danger:#EF4444;

--background:#F8FAFC;
--surface:#FFFFFF;

--text:#111827;
--text-light:#6B7280;

--shadow:0 10px 30px rgba(0,0,0,.08);

--radius:18px;

}